/* ---------------- CALCULATOR SECTION (DAY-3) ---------------- */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: #f2f2f2;
}

#calculator {
  background: #222;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  width: 320px;
}

#display {
  margin-bottom: 15px;
}

#result {
  width: 100%;
  height: 60px;
  text-align: right;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #333;
  color: #fff;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button.number {
  background: #444;
  color: #fff;
}

button.operator {
  background: #ff9500;
  color: #fff;
}

button.operator#equals {
  background: #00cc66;
}

button:hover {
  opacity: 0.8;
}

button.empty {
  background: transparent;
  cursor: default;
  border: none;}